@font-face {
  font-family: Unageo-bold;
  src: url('font/Unageo-Bold-BF65baf2f118643.ttf') format('truetype');
  font-weight: bold;
  font-style: bold;
}

@font-face {
  font-family: Unageo-regular;
  src: url('font/Unageo-Regular-BF65baf2f19dc5f.ttf') format('truetype');
  font-weight: regular;
  font-style: regular;
}

*, h1, h2, h3 , p {
  padding: 0px;
  margin: 0px;
}

body {
  max-width: 100%;
  max-height: 100%;
  font-family: Unageo-regular;
  font-weight: regular;
  background-color: #d8dfea;
  display: grid;
  justify-items: center;
}