.header-bg {
  font-size: 30px;
  text-transform: capitalize;
  font-family: Unageo-regular;
  font-weight: regular;
  margin-top: 70px;
}

.principal {
  padding: 56px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  width: 1400px;
}

.grafico {
  padding: 40px;
  display: grid;
  gap: 40px;
  text-align: start;
  background-color: #ffff;
  border-top-left-radius: 18px;
  border-bottom-left-radius: 18px;
}

.grafico-texto h2,
.informacoes-texto h2 {
  font-size: 30px;
  font-family: Unageo-bold;
  text-transform: capitalize;
}

.grafico-texto p,
.informacoes-texto p {
  font-size: 20px;
  font-family: Unageo-regular;
  text-transform: capitalize;
}

.circulo-progresso {
  justify-self: center;
}

.circulo-borda {
  content: "";
  width: 300px;
  height: 300px;
  background-color: blue;
  border-radius: 50%;
  position: relative;
}

.circulo-interno {
  content: "";
  width: 250px;
  height: 250px;
  background-color: green;
  border-radius: 50%;
  position: absolute;
  top: 25px;
  right: 25px;
}

.informacoes {
  padding: 40px;
  display: grid;
  gap: 40px;
  align-content: stretch;
  background-color: #f3f5f8;
  border-top-right-radius: 18px;
  border-bottom-right-radius: 18px;
}

.informacoes > div > p {
  font-size: 20px;
  font-family: Unageo-regular;
  text-transform: capitalize;
}

.barra-meta {
  content: "";
  max-width: 100%;
  height: 10PX;
  margin-right: 51px;
  border-radius: 4px;
  background-color: #5394ff;
  margin-bottom: 40px;
}

.barra-faturamento {
  content: "";
  max-width: 100%;
  height: 10PX;
  margin-right: 51px;
  border-radius: 4px;
  background-color: #57d989;
}

.legenda { 
  display: flex;
  gap: 0 10px;
  align-items: center;
}

.icone-legenda1 {
  content: "";
  width: 20px;
  height: 20px;
  background-color: #5394FF;
}

.icone-legenda2 {
  content: "";
  width: 20px;
  height: 20px;
  background-color: #57d989;
}